/.dart_tool/
/.idea/
/.vscode/
/build/
.packages
.pub/

/android/.gradle/
/android/.idea/
/android/build/
/android/app/build/

/ios/.symlinks/
/ios/build/
/ios/Podfile

/.gitignore
/.gitattributes
/pubspec.lock
/pubspec.yaml